/* Styles for the PokeAPP */

/* font family */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

/* General resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: rubik, sans-serif;
  line-height: 1;
}

body {
  background: #c9eac3;
  color: #1d1d1d;
}

h1 {
  text-align: center;
  color: orange;
  background: #f6ff76;
  margin: auto auto;
  width: 481px;
  border: 3px solid #9191f1;
  padding: 7px 78px;
  border-radius: 18px;
}

header {
  max-width: 85%;
  padding: 0.5em auto;
  margin-inline: auto;
  margin-block: 1em;
}

nav {
  display: flex;
  height: 3rem;
  align-items: center;
}

nav span {
  height: 100%;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.02em;
  align-items: center;
  display: flex;
}

ul {
  height: 2em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5em 0.8em;
}

a:hover {
  color: rgb(216, 7, 7);;
}

.logo {
  height: 100%;
  margin-inline-end: auto;
}

.logo img {
  height: 100%;
  padding: 0.05em;
  filter: opacity(0.8) grayscale(1);
}

.logo:hover img {
  filter: saturate(3);
}

#displayPokemon {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 100px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

#pokecards {
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 7, 7);
  align-items: center;
  padding: 17px;
  border-radius: 14px;
  border: 4px solid #ff000085;
}

.imgContainer {
  background: linear-gradient(180deg, rgb(173, 237, 255) 0%, rgb(127, 225, 252) 50%, rgb(12, 233, 82) 73%, rgb(18, 126, 2) 88%, rgb(1, 97, 10) 100%);
  width: 223px;
  height: 155px;
  margin: 3% 0% 2% 0%;
  border-radius: 4px;
  border: 3px solid white;
}

#image {
  width: 138px;
  height: 120px;
  margin: 6% 0% 0% 19%;
}

.shadow {
  background-color: #1d1d1d42;
  margin: -2% 0% 0% 19%;
  width: 124px;
  height: 9px;
  border-radius: 59%;
}

button {
  width: 198px;
  height: 30px;
  border-radius: 10%;
  color: aliceblue;
  font-size: 1.3rem;
}

#btnDescription {
  margin: 5% 0% 6% 0%;
  background: #49da5e;
}

#btnReserve {
  margin: 1% 0% 6% 0%;
  background: #49b6da;
}

#id {
  width: 11%;
  border-radius: 42%;
  color: aliceblue;
  margin: 3px 0 3px 14px;
  align-self: flex-start;
}

#name {
  font-family: Rubik, sans-serif;
  color: aliceblue;
  font-size: 1.3rem;
}

#types {
  font-family: Rubik, sans-serif;
  color: aliceblue;
  font-size: 1.3rem;
}

.footerImg {
  display: flex;
  gap: 20px;
  margin: 7% 0% 7% 0%;
}
