/* Styles for the PokeAPP */

/* font family */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

/* General resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: rubik, sans-serif;
  line-height: 1;
}

.nav-header{
  display: flex;
  background-color: #49b6da;
  align-items: center;
  justify-content: flex-start;
}

footer{
  background-color: #f6ff76;
  margin: 0px auto;
  padding: 25px;
  display: flex;
  height: 91px;
  width: auto;
  text-align: center;
}


body {
  background: hsl(182deg 100% 50% / 54%);
  color: #1d1d1d;
}

h1 {
  text-align: center;
  color: orange;
  background: #f6ff76;
  margin: 25px auto;
  width: 481px;
  border: 3px solid #9191f1;
  padding: 7px 78px;
  border-radius: 18px;
}

header {
  max-width: 85%;
  margin-inline: auto;
  margin-block: 1em;
}

nav {
  display: flex;
  height: 3rem;
  align-items: center;
}

nav span {
  height: 100%;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.02em;
  align-items: center;
  display: flex;
}

ul {
  height: 2em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5em 0.8em;
}

.home-c{
  font-size: large;
}
a:hover {
  color: rgb(216, 7, 7);
}

.logo {
  height: 100%;
  margin-inline-end: auto;
}

.logo img {
  height: 100%;
  padding: 0.05em;
  filter: opacity(0.8) grayscale(1);
}

.logo:hover img {
  filter: saturate(3);
}

#displayPokemon {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 100px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.pokecards {
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 7, 7);
  align-items: center;
  padding: 17px;
  border-radius: 14px;
  border: 4px solid #ff000085;
}

.pokecards:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(1px, 0, 0);
  }
}

.imgContainer {
  background: linear-gradient(180deg, rgb(173, 237, 255) 0%, rgb(127, 225, 252) 50%, rgb(12, 233, 82) 73%, rgb(18, 126, 2) 88%, rgb(1, 97, 10) 100%);
  width: 223px;
  height: 155px;
  margin: 3% 0% 2% 0%;
  border-radius: 4px;
  border: 3px solid white;
}

#image {
  width: 63%;
  height: 76%;
  margin: 6% 0% 0% 19%;
}

#image :hover {
  animation: 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(1px, 0, 0);
  }
}

.shadow {
  background-color: #1d1d1d42;
  margin: -2% 0% 0% 19%;
  width: 124px;
  height: 9px;
  border-radius: 59%;
}

ul {
  display: flex;
  margin: 3% 0% 4% 14%;
  gap: 130px;
}


ul li a{
  color: aliceblue;
  display: flex;
}


button {
  cursor: pointer;
  width: 198px;
  height: 30px;
  border-radius: 10%;
  color: aliceblue;
  font-size: 1.3rem;
}

.likes {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  margin: 5px 0 0 auto;
  gap: 5px;
  align-items: center;
}

.iconLike {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 1.3rem;
  color: red;
}

.likeTxt {
  color: aliceblue;
}

.btnDescription {
  margin: 10% 0% 10% 0%;
  background: #49da5e;
}

#btnReserve {
  margin: 0px 0 11px 0;
  background: #49b6da;
}

#id {
  width: 11%;
  border-radius: 42%;
  color: aliceblue;
  margin: -7px 0 6px 2px;
  align-self: flex-start;
}


#name {
  background: #faff0080;
  border: 1px solid hsl(11deg 100% 62% / 84%);
  border-radius: 6px;
  padding: 2px;
  margin: 3% 0% 5% 0%;
  width: 121px;
  text-align: center;
  font-family: Rubik, sans-serif;
  color: aliceblue;
  font-size: 1.3rem;
}

#types {
  font-family: Rubik, sans-serif;
  color: aliceblue;
  font-size: 1.3rem;
}

.footerImg {
  display: flex;
  gap: 38px;
  margin: 10px 0 10px 0;
  align-items: center;
}
